To Do:

Clean up each column:
- average rating columns by driver, of driver: drop the nan row (tom)
- handle date-time with sign up date, and last trip date - Robert
- one-hot-encode phone and deal with nan's - Jess 
- make a column based off the last-trip-date  (Sam)

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from clean import *

In [4]:
file = (input("Enter path of filename: "))
df = pd.read_csv(file)
df = to_date(df)
df = create_churn_col(df, 'last_trip_date', '2014-06-01')
df = bool_to_int(df, ['churn', 'luxury_car_user'])
df = hot_encode(df)
df = drop_nan_ratings(df)
df.to_csv('data/churn_clean.csv')

Enter path of filename: data/churn_train.csv

In [12]:
df.shape

(33132, 13)

In [6]:
df2 = pd.read_csv('data/churn.csv')

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   avg_dist                50000 non-null  float64
 1   avg_rating_by_driver    49799 non-null  float64
 2   avg_rating_of_driver    41878 non-null  float64
 3   avg_surge               50000 non-null  float64
 4   city                    50000 non-null  object
 5   last_trip_date          50000 non-null  object
 6   phone                   49604 non-null  object
 7   signup_date             50000 non-null  object
 8   surge_pct               50000 non-null  float64
 9   trips_in_first_30_days  50000 non-null  int64
 10  luxury_car_user         50000 non-null  bool
 11  weekday_pct             50000 non-null  float64
dtypes: bool(1), float64(6), int64(1), object(4)
memory usage: 4.2+ MB

In [8]:
df2.shape

(50000, 12)

In [11]:
50000 - 49799

201

In [ ]:
import seaborn as sns

sns.set_theme(style="ticks")

sns.pairplot(df)

In [ ]:
from clean import *